.nav {

    &__ul {
      display: flex;
      align-items: center;
      gap: 2.4rem ; 
    }

    &__a {
        @include text ($font-base, 400, 1.6rem, 1.9rem, $color-black); 
        transition:$transition;
        &::before {
            opacity: 0;
            content: '';
            display: block;
            position: absolute;
            background: $color-primary;
            height: 0.1rem;
            width: 100%;
            bottom: -0.3rem;
            transition: $transition;
        }
        &:hover {
            color: $color-primary;
            &::before {
                opacity: 1;
            }
        }

        &.nav__a_active {
            color: $color-primary;
            &::before {
                opacity: 1;
            }
        }
        position: relative;

    }
}

.search {
 position: relative;
    &__input {
        width: 100%;
        background:$color-black;
        border-radius: 5rem;
        border: 0;
        outline: 0;
        padding: 1.3rem 1.8rem;
        padding-right: 4rem;
        @include text ($font-base, 400, 1.4rem, 1.6rem, $color-white);
        &::placeholder {
            color: rgba($color-white, 0.7);
        }
      
    }

    &__icon {
        right: 1.5rem;
        position: absolute;
        top: 50%;
        transform: translateY(-50%)
    }
}

.logo {
    @include text ($font-base, 600, 2.4rem, 2.8rem, $color-black);
}



.slider {

    &__item {
        border-radius: 3rem;
        img {
            border-radius: 3rem;
        }
    }
}

#html .owl-theme {
       .owl-dots {
        height: 2rem;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 2.5rem;
        .owl-dot {
            span {
                background: $color-dark;
            }
            &.active {
                span {
                    background:$color-primary;
                }
            }
        }
       }
}








.our-row {
    flex-direction: column;
    align-items: center;
}

    

.text {

		&__primary {
            @include text ($font-base, 700, 4.8rem, 5.6rem, $color-dark);
            margin-bottom: 5.6rem;
        
            
		}

        &__desc {
            @include text ($font-base, 400, 1.6rem, 1.9rem, $color-dark);
            text-align: center;
            width: 83.7rem;
            max-width: 100%;
        }
}

.text__item {
    margin-top: 11.1rem;
    margin-bottom: 5.6rem;
}

.desc__item {
        margin-bottom: 11.1rem;
}







.card {
   

    &__call {
        background-color: $color-thrid;
        border-radius: 1.5rem;
        padding: 4.6rem 2.6rem;
        flex-direction: column;
        text-align: center;
        gap: 30px;

        &:hover {
            background: $color-primary;
            .card-text__primary,.card-text__desc,.card__link,.icon-card {
                color: $color-white;
            }
            .card__link:hover {
                color:blue;
            }
        }
    
        

    }

    &__link {
        text-align: center;
    }

    &__fird {
        background-color: $color-thrid;
        border-radius: 1.5rem;
        padding: 4.6rem 2.6rem;
        flex-direction: column;
        text-align: center;
        &:hover {
            background: $color-primary;
            .card-text__primary,.card-text__desc,.card__link,.icon-card {
                color: $color-white;
            }
            
    
        }
        
    }

    &__serv {
        background-color: $color-thrid;
        border-radius: 1.5rem;
        padding: 4.6rem 2.6rem;
        flex-direction: column; 
        text-align: center;  
        &:hover {
            background: $color-primary;
            .card-text__primary,.card-text__desc,.card__link,.icon-card {
                color: $color-white;
           
            }
            
        }
    }
}



.card-text {

    &__primary {

        @include text ($font-base, 600, 2.4rem, 2.8rem, $color-dark); 
        margin-bottom: 1.7rem;
   
    }

    &__desc {
        @include text ($font-base, 400, 1.6rem, 1.9rem,$color-dark );
        width: 318px;
        text-align: center;
        margin-bottom: 0.6rem;
        
    }
}
.card__link {

    @include text ($font-base, 600, 1.6rem, 1.9rem, $color-primary);
    margin-bottom: 3.7rem;
    
}
  






.text {

		&__primary {
            @include text ($font-base, 700, 4.8rem, 5.6rem, $color-dark);
            margin-bottom: 5.6rem;
            text-align: center;

		}

		&__desc {
            @include text ($font-base, 400, 1.6rem, 1.9rem, $color-dark);
            text-align: center;
           
            
		}
}








.doctor {
    
}


.ellipse {
    width: 7.2rem;
    height: 7.2rem;
}


.doc-block__text{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.doc {
    
    

    &__item {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 12.9rem;
        width: 37rem;
        
        
    }
}
  

.doc-text {
    @include text ($font-base, 600, 2rem, 2.3rem, $color-black);
    padding: 0 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
   
		&__secondary {
            @include text ($font-base, 400, 1.6rem, 1.9rem, $color-dark);
            margin-bottom: 1rem;

		}

		&__desc {
            @include text ($font-base, 400, 1.6rem, 1.9rem, $color-dark);
            margin-bottom: 2.8rem;
            width: 29.3rem;
		}
}
.doctor-btn {
    @include text ($font-base, 600, 2rem, 2.3rem, $color-white);
    background: $color-primary;
    border-radius: 5rem;
    padding: 1rem 2.5rem;
    width: 28.2rem;
    margin-bottom: 6.1rem;
    text-align: center;
    
}















.newsletter {
    padding: 8rem 0;
    margin-bottom: 13.1rem;
    background: $color-black;
    border-radius: 1rem;
    flex-direction: column;

    &__title {
            margin-bottom: 4.7rem ;
            text-align: center;
            @include text($font-base, 700, 3.6rem, 4.2rem, $color-white);
    }

    &__form {
            padding: 0;
            position: relative;
            text-align: center;
    }

    &__input {   
             align-items: center;
            width: 100%;
            background: $color-thrid;
            border-radius: 5rem;
            border: 0;
            outline: 0;
            padding: 2rem 0 2.5rem 3.1rem;
            padding-right: 18rem;
             @include text($font-base, 400, 1.6rem, 1.9rem, $color-black);
            &::placeholder {
                color: $color-primary;}
    }

        &__btn {
            position: absolute;
            padding: 1rem 2.4rem;
            background: $color-primary;
            border-radius: 2.2rem;
            border: 0;
            outline: 0;
            right: 1.5rem;
            top: 50%;
            transform: translateY(-50%)
        }

        &__link {
            @include text($font-base, 600, 2rem, 2.3rem, $color-white);

            &:hover {
                color: $color-thrid;
            }
        }
}



