$font-base:'Poppins', sans-serif;

$color-dark: #262626; 

$color-black: #000000;

$color-primary: #8842F0;

$transition: .3s all ease-in-out;

$color-white:#ffffff;

$color-thrid:#F9F1FE;

$color-secondary:#1C1B1F;

